{% extends "layout_2.html" %}
{% block body %}

<br>
<div class="container">
    <!-- Encabezado -->
    <blockquote class="blockquote text-center">
        <p class="mb-0">Sistema para la publicación de los almuerzos de los kioscos de la Usach.</p>
        <footer class="blockquote-footer">Come acApp</footer>
    </blockquote>
    <!-- Fin encabezado -->

    <br>

    <blockquote class="blockquote text-center">
        <h3>
            <small class="text-muted">jueves 7 de diciembre</small>
        </h3>
    </blockquote>

    <!-- Fin encabezado -->
    <br>
    <br>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Silvana Cerda
            <span class="badge badge-primary badge-pill">15 / Febrero / 2017</span>
            <span class="badge badge-primary badge-pill">-- / -- / ----</span>
        </li>
		<!--
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Administrador 2
            <span class="badge badge-primary badge-pill">2 / Abril / 2017</span>
            <span class="badge badge-primary badge-pill">14 / Mayo / 2017</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Administrador 3
            <span class="badge badge-primary badge-pill">1 / Junio / 2017</span>
            <span class="badge badge-primary badge-pill">14 / Julio / 2017</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Administrador 4
            <span class="badge badge-primary badge-pill">15 / Febrero / 2018</span>
            <span class="badge badge-primary badge-pill">30 / Marzo / 2018</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Administrador 5
            <span class="badge badge-primary badge-pill">2 / Abril / 2018</span>
            <span class="badge badge-primary badge-pill">14 / Mayo / 2018</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Administrador 6
            <span class="badge badge-primary badge-pill">1 / Junio / 2018</span>
            <span class="badge badge-primary badge-pill">14 / Julio / 2018</span>
        </li>
	-->
    </ul>



</div>
{% endblock %}
