{% extends "layout_3.html" %}
{% block body %}
<br>
<div class="container">

	<!-- Encabezado -->
  	<blockquote class="blockquote text-center">
  		<p class="mb-0">Sistema para la publicación de los almuerzos de los kioscos de la Usach.</p>
  		<footer class="blockquote-footer">Come acApp</footer>
  	</blockquote>
    <!-- Fin encabezado -->

   	<br>

   	<blockquote class="blockquote text-center">
  		<h3>
  	  		<small class="text-muted">jueves 7 de diciembre</small>
  		</h3>
   	</blockquote>

  	<br>
  	<br>

	<h5>Administradores de Kioscos Activos</h5>
	<br>
   	<!-- Inicio listado de Kioscos -->
	<table class="table">
	 	<thead>
			<tr>
		 		<th scope="col">Nombre</th>
		 		<th scope="col">Correo</th>
		 		<th scope="col">Kiosco</th>
		 		<th scope="col">Fecha Inicio</th>
		 		<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>

	  	<tbody>
		{% for david in ADM_KIOSCO %}
		  	<tr>
				<td>{{ david.USU_NOMBRE }}</td>
				<td>{{ david.USU_CORREO}}</td>
				<td>{{ david.KIO_NOMBRE }}</td>
				<td>{{ david.KIO_USU_F_I}}</td>
				<td>
                	<a class="btn btn-sm btn-warning">Editar</a>
				</td>
				<td>
					<a class="btn btn-sm btn-danger">Desvincular</a>
				</td>
		  	</tr>
		{% endfor %}
	  	</tbody>
	</table>

	<!-- Boton que redirige a la ventana emergente de Asignacion -->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#asignacionkiosco" data-whatever="@mdo">Añadir Nuevo</button>

  <br>
  <br>
  <br>

    <div class="modal fade bd-example-modal-lg" id="asignacionkiosco" tabindex="-1" role="dialog" aria-labelledby="asignacionkiosco" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registrodavid">Nueva Asignacion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <form action="/ADM_kioscos/ASG_user" method="post">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Usuario</label>
                    <select class="form-control" name = "administradores_kio" id="exampleFormControlSelect1">
                      <option selected disabled>Seleccione Usuario</option>
                      {% for c in USR_KADM %}
                          <option value="{{ c.USU_ID }}" name = "USU_KIOADM">{{ c.USU_NOMBRE }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Kiosco</label>
                    <select class="form-control" name = "kioscos" id="exampleFormControlSelect1">
                      <option selected disabled>Seleccione Kiosco</option>
                      {% for c in NOT_ASSIGNED  %}
                          <option value="{{ c.KIO_ID }}" name = "KIO_NOMB">{{ c.KIO_NOMBRE }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <br>

              <div class="modal-footer">
                   <input type="submit" class="btn btn-success" value="Registrar"></input>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
