{% extends "layout_3.html" %}
{% block body %}
  <br>
  <div class="container">

    <!-- Encabezado -->
    <blockquote class="blockquote text-center">
      <p class="mb-0">Sistema para la publicación de los almuerzos de los kioscos de la Usach.</p>
      <footer class="blockquote-footer">Come acApp</footer>
    </blockquote>
    <!-- Fin encabezado -->

    <br>

    <blockquote class="blockquote text-center">
      <h3>
        <small class="text-muted">jueves 7 de diciembre</small>
      </h3>
    </blockquote>



    <!-- Fin encabezado -->
    <br>
    <br>
    <h5>Mantención de Carreras</h5>

    <br>

    <nav aria-label="breadcrumb" role="navigation">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="mantencion_carrera">Carrera</a></li>
        <li class="breadcrumb-item"><a href="mantencion_mediopago">Medios de Pago</a></li>
        <li class="breadcrumb-item"><a href="mantencion_universidad">Universidad</a></li>
        <li class="breadcrumb-item"><a href="mantencion_tipousuario">Tipo de Usuario</a></li>
        <li class="breadcrumb-item"><a href="mantencion_permiso">Permiso</a></li>
        <li class="breadcrumb-item"><a href="mantencion_almuerzo">Almuerzo</a></li>
        <li class="breadcrumb-item"><a href="mantencion_categoria">Categoria</a></li>
      </ol>
    </nav>









  </div>
{% endblock %}
